@model ApiMarafons.Table.MARAFON

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MARAFON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DLINA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DLINA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_START)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_START)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VZNOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VZNOS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
