@model IEnumerable<ApiMarafons.Table.MARAFON>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DLINA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_START)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VZNOS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DLINA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_START)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VZNOS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UID })
        </td>
    </tr>
}

</table>
